In [11]:
import wrangle_zillow as w
import pandas as pd
from importlib import reload

In [3]:
reload(w)
df = w.wrangle_zillow()

In [34]:
reload(w)
df = w.wrangle_zillow()
df = w.prep_zillow(df)
df.shape

(77381, 38)

In [44]:
s = 'log_error'
k = 1.5

,parcel_id,bath_count,bed_count,calc_bath_and_bed,calc_sqft,finished_sqft12,fips,fireplace_cnt,full_bath_cnt,garage_car_count,...,assessment_year,land_value,tax_amount,census_tract_and_block,log_error,transaction_date,air_conditioning_desc,heating_system_desc,property_land_use_desc,outliers
0,14297519,3.5,4,3.5,3100,3100,6059,<NA>,3,2,...,2016,537569,11013.72,60590630072012,0.025595,2017-01-01,<NA>,<NA>,Single Family Residential,False
1,17052889,1.0,2,1.0,1465,1465,6111,1,1,1,...,2016,376000,5672.48,61110010023006,0.055619,2017-01-01,<NA>,<NA>,Single Family Residential,False
2,14186244,2.0,3,2.0,1243,1243,6059,<NA>,2,2,...,2016,479489,6488.3,60590218022012,0.005383,2017-01-01,<NA>,<NA>,Single Family Residential,False
3,12177905,3.0,4,3.0,2376,2376,6037,<NA>,3,<NA>,...,2016,36225,1777.51,60373001001006,-0.10341,2017-01-01,<NA>,Central,Single Family Residential,False
4,10887214,3.0,3,3.0,1312,1312,6037,<NA>,3,<NA>,...,2016,45726,1533.89,60371236012000,0.00694,2017-01-01,Central,Central,Condominium,False

In [15]:
sns.boxplot(data-=)

Empty DataFrame
Columns: [parcelid, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, calculatedbathnbr, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet12, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertylandusetypeid, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, regionidzip, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, transactiondate]
Index: []

[0 rows x 60 columns]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
1,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,...,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,0.055619,2017-01-01
2,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,...,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,0.005383,2017-01-01
3,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,...,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,-0.103410,2017-01-01
4,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,NaN,...,276684.0,773303.0,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,-0.001011,2017-01-01
5,12069064,NaN,NaN,NaN,1.0,2.0,NaN,5.0,1.0,NaN,...,18890.0,218552.0,2016.0,199662.0,2366.08,NaN,NaN,6.037302e+13,0.101723,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52311,11554146,1.0,NaN,NaN,4.0,4.0,NaN,9.0,4.0,NaN,...,350000.0,1550000.0,2016.0,1200000.0,18655.00,NaN,NaN,6.037272e+13,-0.056152,2017-09-19
52437,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,NaN,...,70917.0,354621.0,2016.0,283704.0,4478.43,NaN,NaN,6.037101e+13,0.020615,2017-09-20
52439,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,NaN,...,32797.0,49546.0,2016.0,16749.0,876.43,NaN,NaN,6.037434e+13,0.037129,2017-09-21
52438,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,NaN,...,50683.0,67205.0,2016.0,16522.0,1107.48,NaN,NaN,6.111008e+13,0.013209,2017-09-21
52440,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,NaN,...,140000.0,522000.0,2016.0,382000.0,6317.15,NaN,NaN,6.037503e+13,0.007204,2017-09-25